# STOCK/CRPYTO PRICE PREDICTION MODEL

## The following code is an example on how to use simple data analysis tolls in order to set up a simple strategy for long and short term financial trading

### We will make use of the programing language python (3.x) which suits nicely for data anlysis

## --> This a very is simplified model for trading. One should always invest just as much money as one can afford to loose and do own studies in advance.

## Required modules:
- numpy: the code is designed to be vectorized such that the numpy module can be used and calculations performed fast
- pandas: module for illustrative data frames
- yfinance: api module provided by yahoo finance to get current and previous asset prices
- matplotlib: (sub)module(s) for plots
- scipy: (sub)module for statistical and signal analysis
- datetime: (optional)

In [17]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
from model import MODEL
import utils
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [38]:
tickers = ['BTC-USD', 'LTC-USD', 'XRP-USD']
model = MODEL(tickers=tickers)

In [39]:
start_date = '2020-01-01'
model.get_data(start=start_date, interval='60m')

[*********************100%***********************]  3 of 3 completed

In [40]:
day_hour = 17
start_date_range = pd.Timestamp(2020, 1, 1, day_hour)
date_range = utils.create_date_range(start_date=start_date_range)
model.apply_date_filter(date_range)
model.data.tail()

[INFO]: filter applied.

                               BTC-USD    LTC-USD   XRP-USD
Datetime
2020-04-08 17:00:00+01:00  7294.430176  45.877285  0.198945
2020-04-09 17:00:00+01:00  7265.570801  45.898525  0.198604
2020-04-10 17:00:00+01:00  6852.813965  41.920296  0.186168
2020-04-11 17:00:00+01:00  6814.123535  42.070595  0.186749
2020-04-12 17:00:00+01:00  7068.978516  43.212933  0.192405

In [41]:
model.eval_model()

==================================================================================
|                                  PRICE MODEL                                   |
|                                  Version 0.3                                   |
|                   Authors: Marco Rosenzweig & Patrick Lorenz                   |
----------------------------------------------------------------------------------
|                   ticker = ['BTC-USD', 'LTC-USD', 'XRP-USD']                   |
|                             start date = 01/01/20                              |
|                              end date = 04/12/20                               |
|                      initial investment per ticker = 200                       |
==================================================================================
[INIT]: Initialising model for tickers: ['BTC-USD', 'LTC-USD', 'XRP-USD']
[WARNING]: Ignoring second entry of gradient!
[INIT]: Successfully initialized model.
**********************************************************************************
[TICKER]: BTC-USD
[INFO]: Open position.
[INFO]: No tax paid.
[INFO]: Last entry of "Sell Dates" will be assigned equally as the penultimate one.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 6.2520545086%
[SUMMARY]: Average trade loss: -0.8319166980%
[SUMMARY]: Efficiency: 73.68%
[SUMMARY]: NET WIN: 241.50
==================================================================================
[TICKER]: LTC-USD
[INFO]: Open position.
[INFO]: No tax paid.
[INFO]: Last entry of "Sell Dates" will be assigned equally as the penultimate one.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 6.9182174503%
[SUMMARY]: Average trade loss: -2.9826695723%
[SUMMARY]: Efficiency: 94.44%
[SUMMARY]: NET WIN: 395.04
==================================================================================
[TICKER]: XRP-USD
[INFO]: Open position.
[INFO]: No tax paid.
[INFO]: Last entry of "Sell Dates" will be assigned equally as the penultimate one.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 6.9549554274%
[SUMMARY]: Average trade loss: -1.0598262397%
[SUMMARY]: Efficiency: 82.35%
[SUMMARY]: NET WIN: 288.80
==================================================================================

In [42]:
model.ticker_df['BTC-USD']

,Buy Dates,Sell Dates,Buy Prices,Sell Prices,Trade Reward,Trade Win,Trade Efficiency
0,2020-01-05 17:00:00,2020-01-08 17:00:00,7545.897952,8121.086090,215.245055,15.245055,0.076225
1,2020-01-10 17:00:00,2020-01-12 17:00:00,7974.970696,8099.659230,218.610408,3.365353,0.015635
2,2020-01-13 17:00:00,2020-01-15 17:00:00,8160.049818,8732.889162,233.956961,15.346554,0.070200
3,2020-01-17 17:00:00,2020-01-18 17:00:00,8900.980390,8869.911221,233.140327,-0.816635,-0.003491
4,2020-01-20 17:00:00,2020-01-22 17:00:00,8673.141881,8645.649739,232.401318,-0.739009,-0.003170
5,2020-01-24 17:00:00,2020-01-30 17:00:00,8499.971217,9401.040719,257.037842,24.636523,0.106009
6,2020-02-04 17:00:00,2020-02-06 17:00:00,9230.929593,9711.612323,270.422588,13.384746,0.052073
7,2020-02-08 17:00:00,2020-02-09 17:00:00,9871.124540,10043.792079,275.152870,4.730282,0.017492
8,2020-02-11 17:00:00,2020-02-12 17:00:00,10202.103086,10287.672855,277.460705,2.307835,0.008387
9,2020-02-16 17:00:00,2020-02-19 17:00:00,9818.421361,10108.291860,285.652212,8.191508,0.029523
10,2020-02-21 17:00:00,2020-02-24 17:00:00,9730.362040,9592.414146,281.602505,-4.049708,-0.014177
11,2020-02-26 17:00:00,2020-03-03 17:00:00,8736.269735,8690.952104,280.141749,-1.460756,-0.005187
12,2020-03-04 17:00:00,2020-03-06 17:00:00,8768.767025,9043.291626,288.912172,8.770424,0.031307
13,2020-03-09 17:00:00,2020-03-11 17:00:00,7774.681576,7653.620879,284.413479,-4.498693,-0.015571
14,2020-03-13 17:00:00,2020-03-20 17:00:00,5245.240944,6391.193164,346.550616,62.137137,0.218475
15,2020-03-23 17:00:00,2020-03-24 17:00:00,6301.165364,6621.908221,364.190787,17.640171,0.050902
16,2020-03-29 16:00:00,2020-03-31 16:00:00,6134.094369,6425.313318,381.480912,17.290125,0.047475
17,2020-04-01 16:00:00,2020-04-03 16:00:00,6221.755076,6711.326539,411.498514,30.017602,0.078687
18,2020-04-05 16:00:00,2020-04-07 16:00:00,6809.890307,7306.305017,441.495167,29.996653,0.072896
19,2020-04-11 16:00:00,2020-04-07 16:00:00,6833.884493,NaN,NaN,NaN,NaN

In [213]:
imag_model = model.copy_model()

In [206]:
#imag_model.data.index.resolution

In [214]:
imag_model.append_timedelta(timedelta=1)

[USER-INPUT]: Overwrite existing data? [y/n]: y
[INFO]: NaN values were append.

In [217]:
imag_model.data

                               BTC-USD    LTC-USD   XRP-USD
2020-01-01 17:00:00+00:00  7245.064941  42.109474  0.194008
2020-01-02 17:00:00+00:00  6986.260254  40.061035  0.188790
2020-01-03 17:00:00+00:00  7388.253418  42.265747  0.193726
2020-01-04 17:00:00+00:00  7382.938965  42.788017  0.193935
2020-01-05 17:00:00+00:00  7524.078125  44.328999  0.198378
...                                ...        ...       ...
2020-04-09 17:00:00+01:00  7265.570801  45.898525  0.198604
2020-04-10 17:00:00+01:00  6852.813965  41.920296  0.186168
2020-04-11 17:00:00+01:00  6814.123535  42.070595  0.186749
2020-04-12 17:00:00+01:00  7068.978516  43.212933  0.192405
2020-04-13 17:00:00+01:00          NaN        NaN       NaN

[104 rows x 3 columns]

In [315]:
imag_model.comp_break_values(['BTC-USD', 'LTC-USD'])